<div class=" justify-content-center justify-content-sm-center justify-content-md-center mx-auto my-4 row">
    <div class="card" style="max-width: 30%; height: auto;">
      <img class="card-img-top img-fluid" src="../../../assets/images/avatar-default.png" alt="Card image cap" style="width: rem35">
      <div class="card-block">
        <h4 class="card-title">Personas</h4>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-outline-primary" [routerLink]="['/suggestions/person']" href="" >Entrar</a>
      </div>
    </div>
    <div class="card" style="max-width: 30%; height: auto;">
      <img class="card-img-top img-fluid" src="../../../assets/images/avatar-default.png" alt="Card image cap" style="width: rem35">
      <div class="card-block">
        <h4 class="card-title">Temas</h4>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-outline-primary" [routerLink]="['/suggestions/talks']" href="" >Entrar</a>
      </div>
    </div>
</div>
