<div class="accordion my-4" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h4 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Programacion
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
     
      
        <ul class="list-group">
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code', 'java']" href="">Java</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code', 'csharp']" href="">C#, .NET, ASP.NET, ASP CORE</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/js']" href="">JavaScript, Angular 2, Angular JS, React</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/php']" href="">PHP</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/web']" href="">HTML5, CSS3</a></li>
        </ul>
      
      
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h4 class="mb-0">
        <a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Bases de Datos
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <ul class="list-group">
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/sqls']" href="">SQL Server</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/oracle']" href="">Oracle</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/mysql']" href="">MySQL</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/postgres']" href="">Postgres SQL</a></li>
          <li class="list-group-item"><a [routerLink]="['/suggestions/talks/code/pl']" href="">T-SQL/PL</a></li>
        </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h4 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
 
  </div>
